@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../../css/table.css"
          type="text/css"></link>
    <script type="text/javascript"
            src="../../javascript/comm/comm.js">
    </script>

    <script type="text/javascript" src="../../javascript/jquery-1.7.2.js"></script>
    <script src="~/Scripts/vue/dist/vue.js"></script>
    <script src="~/Scripts/element-ui/lib/index.js"></script>
    <link href="~/Scripts/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/axios/dist/axios.js"></script>
    <style type="text/css">
        .el-table tr {
            background-color: #FFFFCC;
        }
    </style>

    <script type="text/javascript">
        function deleteThirdKind(id) {
            $.ajax({

                url: "/HR_Fist/customiz/customizAction!doDeleteThirdKind",
                data: "cftk.ftkId=" + id,
                dataType: "text",
                success: function () {
                    alert("删除成功！");
                    location.reload();
                },
                type: "post"
            });
        }
    </script>
</head>

<script type="text/javascript">

    function submission() {
        document.forms[0].submit();
    }

    function page(currentPage) {
        document.getElementById("pid").value = currentPage;
        document.forms[0].submit();
    }
</script>

<body>
    <div id="app">
        <form action="" method="post">
            <table width="100%">
                <tr>
                    <td>
                        <font color="black">
                            您正在做的业务是：人力资源--客户化设置--人力资源档案管理设置--III级机构设置
                        </font>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <input type="button" value="添加" class="BUTTON_STYLE1"
                               onclick="window.location.href='/KeHu/EsanTJ'"/>
                    </td>
                </tr>
            </table>

            <el-table :data="tableData"
                      style="width: 100%"
                      :header-cell-style="{color: '#C8D6F1', fontSize: '18px', height:'64px',  background: '#FFFFCC'}">
                <el-table-column fixed
                                 prop="first_kind_name"
                                 label="I级机构名称"
                                 width="150">
                </el-table-column>

                <el-table-column fixed
                                 prop="second_kind_name"
                                 label="II级机构名称"
                                 width="150">
                </el-table-column>

                <el-table-column fixed
                                 prop="second_kind_id"
                                 label="II级机构编号"
                                 width="150">
                </el-table-column>

                <el-table-column fixed
                                 prop="third_kind_name"
                                 label="III级机构名称"
                                 width="150">
                </el-table-column>
                <el-table-column fixed
                                 prop="third_kind_sale_id"
                                 label="销售责任人编号"
                                 width="150">
                </el-table-column>
                <el-table-column fixed
                                 prop="third_kind_is_retail"
                                 label="是否为零售店"
                                 width="150">
                </el-table-column>
                <el-table-column label="变更">
                    <template slot-scope="scope">
                        <el-button size="mini"
                                   v-on:click="handleEdit(scope.row)">编辑</el-button>
                        <el-button size="mini"
                                   type="danger"
                                   v-on:click="handleDelete( scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <br>
            <br>
            <th colspan="7" class="pager">
            </th>
            <p>
        </form>
    </div>

    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data() {
                return {
                    tableData: [],
                }
            },
            methods: {
                //进行查询所有信息
                fill() {
                    axios.get("/KeHu/EsanCX")
                        .then(res => {
                            this.tableData = res.data;
                        })
                        .catch(err => {
                            console.log(err);
                        })
                },
                handleEdit(row) {
                    //console.log(row);
                    location.href = "/KeHu/EsanXiu?id=" + row.ftk_id;
                },
                handleDelete(row) {
                    if (confirm("是否进行删除!")) {
                        //console.log(row);
                        axios.get("/KeHu/EsanSc?id=" + row.ftk_id)
                            .then(res => {
                                if (res.data == "1") {
                                    location.href = 'EsanYe';
                                } else {

                                }
                            })
                            .catch(err => {

                            })
                    } else {

                    }
                }
            },
            mounted: function () {
                this.fill();
            }
        }
        )
    </script>

</body>
</html>