@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet"
          href="../../css/table.css" type="text/css">
    <script type="text/javascript"
            src="../../javascript/comm/comm.js">
    </script>
    <script src="~/Scripts/vue/dist/vue.js"></script>
    <script src="~/Scripts/element-ui/lib/index.js"></script>
    <link href="~/Scripts/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/axios/dist/axios.js"></script>
</head>
<body>

    <div id="app">
        <form name="configfilefirstkindForm" method="post" action="" v-on:submit="ti()">
            <table width="100%">
                <tr>
                    <td>
                        <font color="black">
                            您正在做的业务是：人力资源--客户化设置--人力资源档案管理设置--I级机构设置--I级机构添加
                        </font>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <input type="submit" value="提交" class="BUTTON_STYLE1">
                        <input type="button" value="返回" class="BUTTON_STYLE1" onclick="window.location.href='/KeHu/Index'">
                    </td>
                </tr>
            </table>

            <table width="100%" border="1" cellpadding=0 cellspacing=1
                   bordercolorlight=#848284 bordercolordark=#eeeeee
                   class="TABLE_STYLE1">
                <tr>
                    <td width="19%" class="TD_STYLE1">
                        I级机构编号
                    </td>
                    <td width="81%" class="TD_STYLE2"></td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        I级机构名称
                    </td>
                    <td class="TD_STYLE2">
                        <input type="text" name="cffk.firstKindName" v-model="name"
                               class="INPUT_STYLE1">
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        薪酬发放责任人编号（多个编号之间请用"半角逗号"加"一个空格"隔开，如", "）
                    </td>
                    <td class="TD_STYLE2">
                        <textarea name="cffk.firstKindSalaryId" rows="4" v-model="fa"
                                  class="TEXTAREA_STYLE1"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        销售责任人编号（多个编号之间请用"半角逗号"加"一个空格"隔开，如", "）
                    </td>
                    <td class="TD_STYLE2">
                        <textarea name="cffk.firstKindSaleId" rows="4" v-model="fu"
                                  class="TEXTAREA_STYLE1"></textarea>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data() {
                return {
                    //存储信息
                    name: "",
                    fa: "",
                    fu: "",
                }
            },
            methods: {
                ti() {
                    axios.get("/KeHu/Tia", {
                        params: {
                            first_kind_name: this.name,
                            first_kind_salary_id: this.fa,
                            first_kind_sale_id: this.fu
                        }
                    })
                        .then(res => {
                            if (res.data == "1") {
                                location.href = 'Tiancg';
                            }
                        })
                        .catch(err => {
                            console.log(err);
                        })
                }
            },
            mounted: function () {

            }
        })
    </script>
</body>
</html>